<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ChatDB" connectionString="workstation id=gttchat.mssql.somee.com;packet size=4096;user id=nsun527_SQLLogin_2;pwd=16qlxq3sd1;data source=gttchat.mssql.somee.com;persist security info=False;initial catalog=gttchat"/>
	</connectionStrings>
</configuration>